<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            background-color: rgb(46, 40, 33);
        }
        p{
            font-weight: bolder;
            color: aliceblue;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <a href="home.html" style="text-decoration: none; color: white; font-size: 1.2rem;">Home</a>
    <h3 style="text-align: center; color:aquamarine; font-size: 3rem;">CV Of Mursalin</h3>
    <hr>
    <div>
        <div style="display: flex; align-items: center; justify-content: center; flex-direction:column">
            <a href="Home.html"></a>
            <img src="MyFormalPic.jpeg" height="250px;"  alt="" style="width: 250px; border: 2px solid rgb(26, 3, 3); border-radius: 50%;">
            <P>Name :MD Mursalin Mia</P>
            <p>Address : Road No - 3, Chaduddan, Mohammadpur</p>
            <p>Email : mdmursalin80762@gmail.com</p>
        </div>
        <div>

        </div>
    </div>
</body>
</html>
